<div class="table-responsive">
    <table class="history-table">
        <thead>
            <tr>
                {{#each columns}}
                <th {{#if width}}style="width: {{width}};"{{/if}} {{#if style}}style="{{style}}"{{/if}} data-i18n="{{i18n}}">{{label}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody id="{{tbodyId}}">
            {{#if rows}}
                {{#each rows}}
                <tr>
                    {{#each cells}}
                    <td {{{cellStyle}}}>{{{content}}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            {{else}}
                {{> @partial-block}}
            {{/if}}
        </tbody>
    </table>
</div>
