<div class="input-group" {{#if style}}style="{{style}}"{{/if}}>
    {{#if label}}
    <label class="field-label"
       {{!-- Выводим i18n только если есть ключ И НЕТ хинта/тултипа --}}
        {{#if labelKey}}
            {{#unless hint}}
                data-i18n="{{labelKey}}"
            {{/unless}}
        {{/if}}>

        {{#if hint}}
            {{!-- Режим с подсказкой --}}
            <span {{#if labelKey}}data-i18n="{{labelKey}}"{{/if}}>{{label}}</span>
            <span class="info-hint"
                  {{#if hintTooltip}}data-i18n-tooltip="{{hintTooltip}}"{{/if}}
                    data-tooltip="{{hint}}">
                  {{> icon name="info-circle" width="10" height="10" strokeWidth="3"}}
            </span>
        {{else}}
            {{!-- Обычный режим (без подсказки) --}}
            {{label}}
        {{/if}}
    </label>
    {{/if}}
    {{> @partial-block }}
</div>
