<div class="custom-select-wrap" id="{{id}}">
    <div class="glass-input custom-select-trigger">
        <div class="curr-val">
            {{> rating-stars active=rating}}
        </div>
        {{> icon name="chevron-down" width="12" height="12" class="select-arrow"}}
    </div>
    <div class="custom-select-list">
        <div class="custom-select-option" data-value="5">{{> rating-stars active=5}}</div>
        <div class="custom-select-option" data-value="4">{{> rating-stars active=4}}</div>
        <div class="custom-select-option" data-value="3">{{> rating-stars active=3}}</div>
        <div class="custom-select-option" data-value="2">{{> rating-stars active=2}}</div>
        <div class="custom-select-option" data-value="1">{{> rating-stars active=1}}</div>
    </div>
    <input type="hidden" class="dirty-check" id="{{fieldId}}" value="{{rating}}">
</div>
