<div class="sub-nav">
    <a href="dashboard.html" class="{{#if (eq activeNav 'analytic_dashboard')}}current{{/if}}" data-i18n="sub.kpi">7.1 KPI</a>
    <a href="warehouse.html" class="{{#if (eq activeNav 'analytic_warehouse')}}current{{/if}}" data-i18n="sub.warehouse">7.2 Warehouse</a>
    <a href="sales.html" class="{{#if (eq activeNav 'analytic_sales')}}current{{/if}}" data-i18n="sub.sales">7.3 Sales</a>
    <a href="supply.html" class="{{#if (eq activeNav 'analytic_supply')}}current{{/if}}" data-i18n="sub.supply">7.4 Procurement</a>
    <a href="staff.html" class="{{#if (eq activeNav 'analytic_staff')}}current{{/if}}" data-i18n="sub.staff">7.5 Employees</a>
    <a href="logistics.html" class="{{#if (eq activeNav 'analytic_logistics')}}current{{/if}}" data-i18n="sub.logistics">7.6 Logistics</a>
    <a href="pl-report.html" class="{{#if (eq activeNav 'analytic_pl-report')}}current{{/if}}" data-i18n="sub.pl">7.7 P&amp;L</a>
    <a href="deficit.html" class="{{#if (eq activeNav 'analytic_deficit')}}current{{/if}}" data-i18n="sub.deficit">7.8 Deficit</a>
</div>
